{% load static %}

<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{% static 'images/favicon-20200224034212535.ico' %}">
    
    {% block title %}
        
    <title>pilive</title>
    
    {% endblock title %}

</head>

<body>

    <div class="index">

        <div id="nav">
        
            <ul class="rightnav">
                <li id="login">

                </li>
                <li id="track">
                    <a href="#">追蹤</a>
                </li>
            </ul>
    
            <ul class="leftnav">
                <li class="logo">
                    <a href="/">Pilive</a>
                </li>
                <li>
                    <a href="#">直播</a>
                </li>
                <li>
                    <a href="#">影片搜尋</a>
                </li>            
                <li>
                    <a href="#">遊戲類型</a>
                </li>            
                <li>
                    <a href="#">更多</a>
                </li>
            </ul>

        </div>

    {% block container %}
    
        <div id="container" >

            <ul class="sidebar">
                <li>
                    <a href="#">實況主排行榜</a>
                </li>
                <li>
                    <a href="#">直播中</a>
                </li>
                <li>
                    <a href="#">實況主搜尋</a>
                </li>
            </ul>

            <div class="main">
                <ul class="context">
                    <li id="li1">影片輪播</li>
                    <li id="li2">推薦分類</li>
                    <li id="li3">推薦頻道</li>
                </ul>
                <div id="footer">底部資訊</div>
            </div>

        </div>

    {% endblock container %}

        <div id="register_block" onclick="cancle();">
            
            <iframe 
            id="show_register" 
            src="{% url 'login' %}" 
            frameborder='0' 
            scrolling="no" 
            marginwidth='0' 
            marginheight='0'
            >
            </iframe>
    
        </div>  

    </div>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{% static 'js/01-index.js' %}"></script>
<link href="{% static 'css/01-index.css' %}" rel="stylesheet">

</html>