{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>註冊頁面</title>
    <link href="{% static 'css/02-register.css' %}" rel="stylesheet">

    <style>
        
    </style>
</head>
<body>
    <div id="register_page">
        <input type="text" name="uname">
        <br>
        <input type="text" name="upwd">
        <br>
        <input type="text" name="cpwd">
        <br>
        <input type="text" name="ubd">
        <br>
        <input type="text" name="uemail">
        
    </div>

    
</body>
</html>