{% extends '02-register.html' %}


{% block title %}
    登入頁面
{% endblock title %}


{% block all_page %}

<div class="regi_form">
    <form action="{% url 'login' %}" method="POST">{% csrf_token %}
        
        {% for field in form %}
        <div class="regi_div">

            <label for="field.labels" >{{ field.label }}</label>
            <div class="input_div">
                {{ field }}
            </div>
            
        </div>                    
        {% if field.errors %}
            <span>{{ field.errors }}</span>
        {% endif %}
        {% endfor %}

        <div class="sendinfo" >
            <input type="submit" value="登入"> 
        </div>

    </form>

</div>

{% endblock all_page %}
    