{% extends '01-index.html' %}
{% load static %}

{% block title %}
    
<title>會員中心</title>

{% endblock title %}
    

{% block container %}
    
<div id="container" >
    
    <ul class="sidebar">
        <li>
            <a>會員中心</a>
        </li>
        <li>
            <a>影片庫</a>
        </li>
    </ul>
    <div class="main">
        <form id="uinfo_edit_form" class="uinfo_block" action="{% url 'upage' %}" method="POST" enctype="multipart/form-data">

            {% csrf_token %}
            
            {% for key,value in title.items %}
            <div class="info_div">
                
                {% if key == '性別' %}
                <div class="title_div">{{ key }}</div>
                <div id="ugender_value_div">{{ value }}</div>

                    {% elif  key == '頭像' %}
                    <!-- <div class="title_div">{{ key }}</div> -->
                    <div id="uphoto_value_div">
                        <img src="/static/{{ value }}">
                    </div>

                    {% elif  key == '生日' %}
                    <div class="title_div">{{ key }}</div>
                    <div id="ubd_value_div">{{ value }}</div>

                    {% elif  key == '信用卡號' %}
                    <div class="title_div">{{ key }}</div>
                    <div id="ucredit_value_div">{{ value }}</div>

                    {% elif  key == '好友' %}
                    <div class="title_div">{{ key }}</div>
                    <div id="ufriend_value_div">{{ value }}</div>

                    {% elif  key == '訂閱' %}
                    <div class="title_div">{{ key }}</div>
                    <div id="usubs_value_div">{{ value }}</div>

                    {% elif  key == '簡介' %}
                    <div class="title_div">{{ key }}</div>
                    <div id="uintro_value_div">{{ value }}</div>


                {% else %}
                <div class="title_div">{{ key }}</div>
                <div class="value_div">{{ value }}</div>

                {% endif %}
                

                {% if key == '頭像' %}
                    <div id="{{ UCform.uphoto.name }}_edit">
                        {{ UCform.uphoto}}
                    </div>


                    {% elif key == '性別'%}
                    {{ UCform.ugender }}
                    
                    {% elif key == '信用卡號'%}
                    <div id="{{ UCform.ucredit.name }}_edit">
                        
                        {% for pform in Pform %}
                            {{ pform }}
                        {% endfor %}
                            
                    </div>

                    
                    {% elif key == '好友'%}
                    <div id="{{ UCform.ufriend.name }}_edit">
                        {{ UCform.ufriend }}
                    </div>                    
                    
                    {% elif key == '訂閱'%}
                    <div id="{{ UCform.usubs.name }}_edit">
                        {{ UCform.usubs }}
                    </div>
                    
                    {% elif key == '簡介'%}
                    <div id="{{ UCform.uintro.name }}_edit">
                        {{ UCform.uintro }}
                    </div>

                {% endif %}
                
                    
            </div>
            {% endfor %}
            <div class="info_div" id='submit_div'>
                <input id="edit_button" onclick="edit();" type="button" value="編輯"> 
            </div>
            

                


        </form>

        <div id="footer">底部資訊</div>
    </div>

</div>

<link href="{% static 'css/04-Upage.css' %}" rel="stylesheet">

{% endblock container %}


{% block script %}

<script src="{% static 'js/04-Upage.js' %}"></script>
{% endblock script %}
    