{% extends '01-index.html' %}
{% load static %}

{% block title %}
    
<title>會員中心</title>

{% endblock title %}
    

{% block container %}
    
<div id="container" >

    <div class="main">
        <ul class="context">
            <li>





                {% for title,value in title.items %}
                <tr >

                    <td>{{ title }}</td>
                    <td>{{ value }}</td>
                    <br>
                </tr>
                {% endfor %}
                    


            </li>
                




            <li id="footer">底部資訊</li>
        </ul>
    </div>

</div>

{% endblock container %}
    
