{% extends '01-index.html' %}
{% load static %}

{% block title %}

<title>遊戲類型</title>

{% endblock title %}



{% block container %}
<div id="container">

    <p>動作遊戲</p>
        
    {% for Ufilmall in Ufilmall %}
    <div>
        
        {% for key,value in ufilmall.items %}
        <video controls>
            <source src="/static/{{ value }}" >
                Your browser does not support the video tag.
        </video>
        {% endfor %}

    </div>
    {% endfor %}
            

</div>
{% endblock container %}

{% block script %}

<link href="{% static 'css/GameTypePage_ACG.css' %}" rel="stylesheet">


{% endblock script %}
    