<tr>
    <th>
        <label for="cc_input">卡號：</label>
    </th>
    <td>
        <ul class="errorlist">
            <li>Enter a valid credit card number.</li>
        </ul>
        <input 
        type="text" 
        name="cc_number" 
        value="1234222288881111" 
            id="cc_input" 
        placeholder="卡號" 
        maxlength="25" 
        pattern="[-\d\s]*" 
        autocomplete="cc-number" 
        autocorrect="off" 
        spellcheck="off" 
        autocapitalize="off" 
        required>
    </td>
</tr>
<tr>
    <th>
        <label for="id_cc_expiry">有效期限：</label>
    </th>
    <td>
        <input 
        type="text" 
        name="cc_expiry" 
        value="12/22" 
        pattern="\d+/\d+" 
        placeholder="MM/YY" 
        autocomplete="cc-exp" 
        autocorrect="off" 
        spellcheck="off" 
        autocapitalize="off" 
        required 
            id="id_cc_expiry">
    </td>
</tr>
<tr>
    <th>
        <label for="cc_input">授權碼：</label>
    </th>
    <td>
        <input 
        type="text" 
        name="cc_code" 
        value="888" 
            id="cc_input" 
        placeholder="授權碼"
        maxlength="4" 
        pattern="\d*" 
        autocomplete="cc-csc" 
        autocorrect="off" 
        spellcheck="off" 
        autocapitalize="off" 
        required>
    </td>
</tr>