/* 統一設置頁面樣式 */


body{
    /* 字體樣式 */
    font: 20px 'Microsoft Yahei','微軟黑體','sans-serif'; 
    color: rgb(140, 0, 255);
    overflow: hidden
}

/* 清除默認樣式 */
body,h1,h2,h3,h4,h5,h6,p,ul,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/* 變換效果 */
a:hover{
    color: rgb(0, 87, 22);
}

.rigntnav>li:hover{
    background: rgb(172, 218, 107);

}

.leftnav>li:hover{
    background: rgb(172, 218, 107);
    
}



/* 整體排版 */
.index{
    display: flex;
    flex-direction: column;
    
}


/* 下部內容 */
#container{
    /* max-width: 100vw; */
    height: 100vh;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    order: 2;
}

.sidebar{
    /* width: 200px; */
    flex-basis: 120px;
    /* height: 100vh; */
    background-color: #3F7D20;
    padding: 20px 20px 0;
    order: 1;
    flex-grow: 1;
}

.main{
    /* width: 300px; */
    flex-basis: 300px;
    overflow: auto;
    order: 2;
    flex-grow: 100000;
}



::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-thumb{
    -webkit-transition: opacity .2s linear;
    border: 3px solid rgb(243, 243, 243);
    border-radius: 12px;
    transition: opacity .2s linear;
    opacity: 0;
}

::-webkit-scrollbar-thumb:hover{
    -webkit-transition: opacity 0 linear;
    opacity: .5;
    transition: opacity 0 linear;
    background: rgb(114, 165, 89);
}

/* 導航樣式 */
#nav{
    width: 100vw;
    height: 50px;
    background: #72B01D;
    font-size: 20px;
    line-height: 50px;
    z-index: 9999;
    order: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rigntnav{
    display: flex;
    order: 2;
    flex-direction: row-reverse;
}

.leftnav{
    display: flex;
    order: 1;
}


.rigntnav>li{
    padding: 0 20px;
}

.leftnav>li{
    padding: 0 20px;
}

/* 側邊導航樣式 */

.sidebar>li>a{
    color: rgb(255, 255, 255);
}



/* 內容 */
.context{
    color: #454955;
    width: 100vw;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.context>li{
    padding: 20px;
    order: 1;
}

.context #li2{
    height: 200px;
    background: #b3b3b3;
    padding: 5px 20px 5px;
    order: 2;
}

.context #li3{
    height: 880px;
    background: #cccccc;
    padding: 5px 20px 5px;
    order: 3;
}

/* 底部資訊 */
.context #footer{
    height: 50px;
    background: rgb(218, 255, 167);
    text-align: center;
    order: 10;
}