/* 樣式設置順序 */
/*
尺寸
邊距
顏色
字體
效果
位置
*/

/* 統一設置頁面樣式 */
body{
    color: rgb(255, 255, 255);
    font: 20px 'Microsoft Yahei','微軟黑體','sans-serif'; 
    overflow: hidden;
}

body::before{
    content: "";
    position: fixed;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
    box-shadow: 0px 0px 10px rgba(0,0,0,.8);
    z-index: 999;
}



/* 清除默認樣式 */
body,h1,h2,h3,h4,h5,h6,p,ul,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/* 變換效果 */
a:hover{
    cursor: pointer;
}

.rightnav>li:hover{
    background: rgb(105, 156, 32);
}

.leftnav>li:hover{
    background: rgb(105, 156, 32);
}


/* 整體排版 */
.index{
    display: flex;
    flex-direction: column;

}

.logo{
    width: 30px;
    height: 26px;
    margin: 8px 8px 8px 20px;
    border: 4px solid rgb(255, 238, 0);
    border-radius: 6px;
    filter: drop-shadow(0px 0px 3px rgba(93, 93, 93, 0.7));
    font: 20px 'Prompt', sans-serif;
    line-height: 30px;
    color: #72B01D;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content:center;
    align-items: center;
}

.logo a{
    color: #72B01D;

}

#nav{
    width: 100vw;
    height: 50px;
    background: #72B01D;
    font-size: 20px;
    line-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    order: 1;
    z-index: 800;
}

#container{
    height: 100vh;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    order: 2;
}

#register_block{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    position: absolute;
    display: none;
    /* display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    order: 3;
    z-index: 799
}



/* 導航樣式 */

.leftnav{
    display: flex;
    order: 1;
}

.rightnav{
    display: flex;
    flex-direction: row-reverse;
    order: 2;
}

.rightnav>li{
    padding: 0 20px;
}

.leftnav>li{
    padding: 0 20px;
}


/* 主要內容 */
.sidebar{
    flex-basis: 120px;
    flex-grow: 1;
    padding: 20px 20px 0;
    background-color: #3F7D20;
    order: 1;
}

.main{
    flex-basis: 300px;
    flex-grow: 100;
    /* overflow: auto; */
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;

    order: 2;
}

::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-thumb{
    border: 3px solid rgb(243, 243, 243);
    border-radius: 12px;
    -webkit-transition: opacity .2s linear;
    transition: opacity .2s linear;
    opacity: 0;
}

::-webkit-scrollbar-thumb:hover{
    background: rgb(114, 165, 89);
    -webkit-transition: opacity 0 linear;
    transition: opacity 0 linear;
    opacity: .5;
}


/* 側邊導航樣式 */
.sidebar>li>a{
    color: rgb(255, 255, 255);
}


/* 次要內容 */
.context{
    color: #454955;
    width: 100vw;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.context>div{
    padding: 20px;
    order: 1;
}

.context #div2{
    height: 200px;
    padding: 5px 20px 5px;
    background: #b3b3b3;
    order: 2;
}

.context #div3{
    height: 880px;
    padding: 5px 20px 5px;
    background: #cccccc;
    order: 3;
}

#video_carousel_div{
    height: 150vh;
    background: rgb(31, 31, 31);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

video{
    /* margin: 10px; */
    /* width: 30%; */
    height: 50%;
    
    position: absolute;
    /* object-fit: cover; */
    /* transition: all 1.2s linear; */
    /* z-index: 100; */   
    /* border: 4px solid rgb(255, 238, 0); */
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.9));
}

.fa-angle-right{
    width: 40px;
    height: 40px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    background: rgb(36, 36, 36);
    position: absolute;
    left: calc(94%); 
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
}

.fa-angle-left{
    width: 40px;
    height: 40px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    background: rgb(36, 36, 36);
    position: absolute;
    right: calc(94%); 
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
}

.fa-angle-right:hover,.fa-angle-left:hover{
    background: rgb(78, 78, 78);
    display: flex;
    justify-content: center;
    align-items: center;
}


/* 
.video1{
    opacity: 1;
    transform: translateX(98px) scale(1);
    top: 0px; 
    left: calc(50% -375); 

    transform: scale(1); 
    transition: all 450ms ease 0s;
    z-index: 3;

}

.video2{
    opacity: 0;
    transform: translateX(-47px) scale(0.75);
    top: 0px; 
    left: calc(50% - 375px); 

    transform: translateX(20%) scale(0.85); 
    transition: all 450ms ease 0s;
    z-index: 2;

}

.video3{
    opacity: 0;
    transform: translateX(243px) scale(0.75);
    top: 0px; 
    left: calc(50% - 375px); 
    transform: translateX(275.25px) translateX(-25%) scale(0.85); 

    transform: translateX(-20%) scale(0.85); 
    transition: all 450ms ease 0s;
    z-index: 2;

}
 */

/* 底部資訊 */
#footer{
    height: 50px;
    background: rgb(218, 255, 167);
    text-align: center;
    order: 4;
}


/* 註冊功能樣式 */
#register_block iframe{
    background: rgb(255, 255, 255);
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left:40%;
    top:8%;
}
