.uinfo_block{
    display: flex;
    flex-direction: column;

}

.info_div {
    width: auto;
    height: 50px;
    padding: 10px;
    color: rgb(59, 59, 59);
    display: flex;
    justify-content: flex-start;

}

.info_div div{
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.title_div {
    width:120px;
    background: #72B01D;
    color: rgb(255, 255, 255);
    border: 3px solid rgb(255, 238, 0);
    border-radius: 12px;
}

.value_div,#ugender_value_div,#ucredit_value_div,#ufriend_value_div,#usubs_value_div,#uintro_value_div {
    width: 200px;
    background: rgb(216, 216, 216);
    margin: 3px 3px 3px 20px;
    border-radius: 6px;
}

.ugender_title_div {
    width:120px;
    background: #72B01D;
    color: rgb(255, 255, 255);
    border: 3px solid rgb(255, 238, 0);
    border-radius: 12px;
}




#id_ugender {
    width: 100px;
    background: rgb(216, 216, 216);
    margin: 3px 3px 3px 20px;

    border-radius: 12px;
    text-align-last: center;
    font-size: 20px;
    display: none;


}


#edit_button{
    cursor: pointer;
}


/* #uintro_edit {
    width: 200px;
    border: 3px solid rgb(255, 255, 255);

} */


textarea{
    max-height: 32px;
    background: rgb(216, 216, 216);
    border-color: rgb(166, 166, 166);
    border-radius: 5px;
    padding: 5px;
    resize: none;

}

.ucredit_title_div {
    width:120px;
    background: #72B01D;
    color: rgb(255, 255, 255);
    border: 3px solid rgb(255, 238, 0);
    border-radius: 12px;
}


#ucredit_edit,#ufriend_edit,#usubs_edit,#uintro_edit{
    display: none;
}

#ucredit_edit input{
    width: 80px;
    height: 32px;
    margin-right: 10px;
    background: rgb(216, 216, 216);
    border-radius: 5px;
    border: 1px solid rgb(166, 166, 166);
    padding: 5px;
    text-align-last: center;

}



#ufriend_edit input{
    height: 32px;
    background: rgb(216, 216, 216);
    border-radius: 5px;
    border: 1px solid rgb(166, 166, 166);
    padding: 5px;
    text-align-last: center;
    
}


#usubs_edit input{
    height: 32px;
    background: rgb(216, 216, 216);
    border-radius: 5px;
    border: 1px solid rgb(166, 166, 166);
    padding: 5px;
    text-align-last: center;
    
}